





<h1>{{theheader}}</h1>


<ul>
   {{#each queryList}}
      <li>{{this.name}}: {{this.value}}</li>
   {{/each}}
</ul>


<ul>
   {{#each postList}}
      <li>{{this.name}}: {{this.value}}</li>
   {{/each}}
</ul>
